apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  name: sensor-server-db
  labels:
    name: sensor-server-db
spec:
  replicas: 1
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        name: sensor-server-db
    spec:
      containers:
      - resources:
          limits :
            cpu: 0.5      
        image:  mysql:8
        name: sensor-server-db
        # resources:
        #   requests:
        #     cpu: "20m"
        #     memory: "55M"
        # livenessProbe:
        #   httpGet:
        #     path: /_status/healthz
        #     port: 5000
        #   initialDelaySeconds: 90
        #   timeoutSeconds: 10
        # readinessProbe:
        #   httpGet:
        #     path: /_status/healthz
        #     port: 5000
        #   initialDelaySeconds: 30
        #   timeoutSeconds: 10
        env:
        - name:  MYSQL_ROOT_PASSWORD
          value:  root
        - name:  MYSQL_DATABASE
          value:  sensor_data
        - name:  MYSQL_USER
          value:  mysql
        - name:  MYSQL_PASSWORD
          value:  mysql
        ports:
        - containerPort:  3306
        volumeMounts:
        - mountPath: /data
          name: data
        imagePullPolicy: Always
      volumes:
        - name: data
          emptyDir: {}
      restartPolicy: Always