apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  name: sensor-server-queue
  labels:
    name: sensor-server-queue
spec:
  replicas: 1
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        name: sensor-server-queue
    spec:
      containers:
        - image:  index.docker.io/kroonprins/activemq
          name: sensor-server-queue       
          ports:
            - containerPort:  61616
          imagePullPolicy: Always