---

logging:
  level:
    sensor: INFO
  file: /var/log/sensor-server-receive.log
        
spring:
  jms:
    pub-sub-domain: true
  activemq:
    broker-url: tcp://sensor-server-queue:61616
    user: admin
    password: admin


sensor:
  server:
    activemq:
      topic:
        name: sensor.server.receive
        
---

spring: 
  profiles: dev
  activemq:
    broker-url: tcp://172.17.0.2:61616

logging:
  level:
    sensor: DEBUG
  file: logs/sensor-server-receive.log      
              